{% extends 'base.html.twig' %}

{% block body %}
    <br></br>
    <div class="jumbotron">
        <h1 class="display-4">{{ title }}</h1>
        <p class="lead">Sur cet outil vous pourrez visualiser les stocks du pôle plurimédia et, une fois connecté, vous pourrez les modifier.</p>
        <hr class="my-4"> 
        <div class="content">
            <img src="https://image.noelshack.com/fichiers/2019/18/1/1556524809-pole-pluri-petit.jpg" alt="">
        </div>

    </div>



    <p>Projet mené par Élisa Clément et Valentin
    </p>


{% endblock %}